:root {
    --foreground: #FFFFFF;
    --background: #0E141B;
    --cursor: #d7d2d0;
    --color0: #040D0D;
    --color1: #3B6E8A;
    --color2: #4C788F;
    --color3: #578DA7;
    --color4: #71AAC3;
    --color5: #A9A3A2;
    --color6: #FFFFFF;
    --color7: #d7d2d0;
    --color8: #969391;
    --color9: #3B6E8A;
    --color10: #4C788F;
    --color11: #578DA7;
    --color12: #71AAC3;
    --color13: #A9A3A2;
    --color14: #B4B3B1;
    --color15: #d7d2d0;
}
