

/* verticalTabs */

@media -moz-pref("sidebar.revamp") {
#sidebar {
  box-shadow: none !important;
  background-color: var(--button-bgcolor) !important;
}

#sidebar-main {
  -moz-window-dragging: drag;
}

#sidebar-box {
  -moz-window-dragging: no-drag;
  max-width: 280px !important;
  min-width: 280px !important;
&[sidebarcommand="viewGenaiChatSidebar"] {
  max-width: 400px !important;
  min-width: 400px !important;
}
}

.sidebar-splitter {
  cursor: default !important;
}

.actions-list,
.tools-and-extensions {
  -moz-window-dragging: no-drag;
&:-moz-window-inactive {
  opacity: .5 !important;
}
}

span > img:is([src="chrome://browser/skin/history.svg"], [src="chrome://browser/skin/synced-tabs.svg"], [src="chrome://browser/skin/bookmark-hollow.svg"], [src="chrome://global/skin/icons/settings.svg"], [src="chrome://global/skin/icons/highlights.svg"]) {
  fill: light-dark(#525252, #c9c9cb) !important;
}

span:active > img:is([src="chrome://browser/skin/history.svg"], [src="chrome://browser/skin/synced-tabs.svg"], [src="chrome://browser/skin/bookmark-hollow.svg"], [src="chrome://global/skin/icons/settings.svg"], [src="chrome://global/skin/icons/highlights.svg"]) {
  fill: light-dark(#2d2d2d, #ececec) !important;
}

:has(#sidebar-main:not([hidden])) {
#PersonalToolbar {
  margin-left: 57.5px !important;
  width: calc(100% - 65.5px);
}
}

:has(#sidebar-box:not([hidden])) {
#PersonalToolbar {
  margin-left: 329.5px !important;
  width: calc(100% - 337.5px);
}

#sidebar-box {
  margin-right: -8px !important;
}
}

:has(#sidebar-box[sidebarcommand="viewGenaiChatSidebar"]:not([hidden])) {
#PersonalToolbar {
  margin-left: 449px !important;
  width: calc(100% - 457px);
}
}
}

@media -moz-pref("sidebar.verticalTabs") {
.titlebar-buttonbox-container {
  left: 2px;
  top: 14.5px;
}

.titlebar-buttonbox {
&::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -16px;
  width: 82px;
  height: 200%;
}

&::after {
  content: "";
}
}

#tab-notification-deck {
  top: 6px;
}

#toolbar-context-customize-sidebar {
  display: flex !important;
}

#sidebar-main {
  margin-top: 25.5px !important;
  transition: .25s !important;
}

#sidebar-box {
  margin-top: -45.5px !important;
  margin-bottom: 2px !important;
  margin-left: 6px !important;
}

.tools-and-extensions {
  margin-bottom: 5px !important;
}

.tools-and-extensions > moz-button:not([extension]) {
  padding-left: var(--padding) !important;
}

.extensions, .customize-extensions-heading,
.tools-and-extensions > moz-button[extension],
button:has([src="chrome://global/skin/icons/settings.svg"]) {
  display: none !important;
}

.actions-list {
  display: var(--display, inherit) !important;
&:has(.expanded-button) {
  display: flex !important;
}
}

.webextension-browser-action {
  margin-bottom: 11px !important;
}

#urlbar {
  left: 10px !important;
  top: 45px !important;
  max-width: 201px !important;
  -moz-window-dragging: no-drag;
&::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -9px;
  width: 220px;
  height: 48px;
}
}

:has(#urlbar[breakout][breakout-extend], [usertyping]) {
.titlebar-buttonbox::after {
  position: fixed;
  top: 45px;
  left: 10px;
  width: 201px;
  height: 32px;
  border-radius: 8px;
  background: var(--button-active-bgcolor);
}

#urlbar::before {
  content: "";
  position: fixed;
  top: 37px;
  left: 0;
}
}

:has(#sidebar-main:not([hidden])) {
:has(#urlbar[usertyping]) {
#urlbar {
  left: 25vw !important;
}
}
}

#stop-reload-button {
&::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 226px;
  height: 10px;
}

&::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 213px;
  width: 13px;
  height: 100%;
}
}

#urlbar-background, .urlbar-input-container {
  height: 32px !important;
  border-radius: 8px !important;
}

#urlbar-search-mode-indicator {
  margin-top: 4px !important;
}

#identity-box, #tracking-protection-icon-container {
  margin-top: 1px !important;
}



#tabs-newtab-button {
  margin-top: 5px !important;
}

#tabs-newtab-button,
#vertical-tabs-newtab-button {
  font-size: 13px !important;
}

/* .tabbrowser-tab:-moz-window-inactive { */
/*   opacity: .5 !important; */
/* } */

.tabbrowser-tab .tab-label-container {
  margin-left: 1px;
}

.tab-background {
  border-radius: 8px !important;
}

.tabbrowser-tab:not([selected], [pinned], :hover) .tab-background {
  background: transparent !important;
}

.tabbrowser-tab:not([pinned]):is([soundplaying], [muted], [activemedia-blocked]) .tab-label-container {
  margin-left: 6.5px;
}

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
  margin: 6px 0 6px 0 !important;
}

.tab-group-label {
  display: flex !important;
  align-items: center;
  font-weight: normal !important;
  font-size: 13px !important;
  color: light-dark(var(--tab-group-color), var(--tab-group-color-invert)) !important;
  opacity: .9;
  outline: none !important;
  min-height: var(--tab-min-height) !important;
  margin-block: 0 !important;
  padding-block: 0 !important;
  margin-left: 1px !important;
  margin-right: 10px !important;
  padding-left: 33px !important;
  border-radius: 8px !important;
  width: 201px !important;
  background-color: color-mix(in srgb, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 30%, transparent) !important;
  background-image: url("chrome://global/skin/icons/arrow-down-12.svg");
  background-repeat: no-repeat;
  background-position: left 9px bottom 11px;
  -moz-context-properties: fill;
  fill: currentColor;

tab-group[collapsed] > .tab-group-label-container > & {
  background-image: url("chrome://global/skin/icons/folder.svg");
  background-position: left 9px bottom 7.5px;
}

&::first-letter {
  font: unset !important;
}
}

.tab-group-line {
  background-color: color-mix(in srgb, light-dark(var(--tab-group-color), var(--tab-group-color-invert)) 60%, transparent) !important;
  
#tabbrowser-tabs & {
  width: 1.5px !important;

.tabbrowser-tab:first-of-type > .tab-stack > .tab-background > & {
  inset-block-start: 2px !important;
}

.tabbrowser-tab:last-of-type > .tab-stack > .tab-background > & {
  inset-block-end: 2px !important;
}
}
}

.tab-group-label-container {
#tabbrowser-tabs & {
  margin-block-start: 4px !important;
  margin-block-end: 4px !important;
tab-group:not([collapsed]) > & {
  padding-block-end: 0 !important;
}
}

#tabbrowser-tabs tab-group:not([collapsed]) > &::after {
  width: 0 !important;
}
}

#tabbrowser-tabs {
tab-group > .tabbrowser-tab,
&[movingtab][movingtab-addToGroup]:not([movingtab-createGroup],[movingtab-ungroup]) .tabbrowser-tab:is(:active,[multiselected]) {
  margin-inline-start: 0 !important;
}
}

:has(#sidebar-main:not([hidden])) {
#PersonalToolbar {
  margin-left: 221px !important;
  width: calc(100% - 229px);
}
}

:has(#sidebar-box:not([hidden])) {
#PersonalToolbar {
  margin-left: 499px !important;
  width: calc(100% - 507px);
}

#sidebar-box {
  margin-right: -8px !important;
}
}

:has(#sidebar-box[sidebarcommand="viewGenaiChatSidebar"]:not([hidden])) {
#PersonalToolbar {
  margin-left: 619px !important;
  width: calc(100% - 627px);
}
}

:root:not([inDOMFullscreen]) {
#nav-bar {
  padding-top: 6.5px !important;
  padding-bottom: 7px !important;
  padding-left: 0px !important;
  height: 53.5px !important;
}

#tabbrowser-tabpanels {
  margin-top: -45.5px;
  transition: .25s !important;
}

/* :has(#nav-bar:hover) { */
/* #tabbrowser-tabpanels { */
/*   margin-top: -8.5px; */
/*   transition: .25s !important; */
/* } */
/* } */
}

:has(#tabbrowser-tabs[expanded]) {
--padding: 0;
#sidebar-main {
  min-width: 221px !important;
  margin-right: -8px !important;
}

#urlbar[breakout][breakout-extend] {
  top: 20vh !important;
  left: 25vw !important;
}

.tab-close-button {
  margin-inline-end: calc(-1 * var(--tab-close-button-padding)) !important;
}

.tab-icon-overlay {
  display: none !important;
}

.tab-audio-button:is([soundplaying], [muted], [activemedia-blocked]) {
  display: block !important;
  background-repeat: no-repeat;
  background-position: center;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: .6;
&[soundplaying] {
  background-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg");
}
&[muted] {
  background-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg");
}
&[activemedia-blocked] {
  background-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-circle-12.svg");
}
}

:has(.titlebar-buttonbox:hover, #urlbar:hover, #back-button:hover, #forward-button:hover, #stop-reload-button:hover, #sidebar-button:hover) {
#tabbrowser-tabpanels {
  margin-top: -45.5px;
}
}
}

:has(#tabbrowser-tabs:not([expanded])) {
--padding: 16px;
:has(#sidebar-main:not([hidden])) {
.sidebar-splitter {
  cursor: col-resize !important;
}

#PersonalToolbar {
  margin-left: 82px !important;
  width: calc(100% - 90px);
}
}

:has(#sidebar-box:not([hidden])) {
.sidebar-splitter {
  cursor: default !important;
}

#nav-bar {
  padding-left: 352px !important;
}

#PersonalToolbar {
  margin-left: 360px !important;
  width: calc(100% - 368px);
}
}

:has(#sidebar-box[sidebarcommand="viewGenaiChatSidebar"]:not([hidden])) {
#nav-bar {
  padding-left: 472px !important;
}

#PersonalToolbar {
  margin-left: 480px !important;
  width: calc(100% - 488px);
}
}

.tab-group-line {
#tabbrowser-tabs & {
  inset: -3px -9px -2px !important;

.tabbrowser-tab:first-of-type > .tab-stack > .tab-background > & {
  inset-block-start: 2px !important;
}

.tabbrowser-tab:last-of-type > .tab-stack > .tab-background > & {
  inset-block-end: 2px !important;
}
}
}

.tab-group-label {
  font-size: 0 !important;
  margin-left: 10px !important;
  padding-left: 58px !important;
  background-position: center;
}

.tabbrowser-tab[pinned],
#tabbrowser-tabs {
  width: 74px !important;
}

.tabbrowser-tab {
  padding-left: 9px !important;
}

.tab-background {
  margin-inline: 0 !important;
  width: 62px !important;
}

.tabbrowser-tab:not([pinned]) .tab-icon-image {
  display: unset;
  margin-left: 6px;
}

.tab-throbber {
  margin-left: 6px !important;
}

#tabs-newtab-button,
#vertical-tabs-newtab-button {
  min-width: 62px !important;
  margin-left: 10px !important;
}

.tab-close-button {
  opacity: 0 !important;
  background-image: linear-gradient(var(--close-button-extra-background)),
                    linear-gradient(var(--bg2)) !important;

&:hover {
  --close-button-extra-background: var(--button-background-color-ghost) !important;
}

&:hover:active {
  --close-button-extra-background: var(--button-background-color-ghost-hover) !important;
}
}

.tabbrowser-tab:hover .tab-close-button {
  opacity: 1 !important;
}

#vertical-pinned-tabs-container-separator {
  margin-right: -20px !important;
}

#urlbar::before {
  width: 82px;
}

#urlbar[breakout][breakout-extend] {
  top: 20vh !important;
  left: 20vw !important;
}

:has(#urlbar[usertyping]) {
#urlbar {
  left: 20vw !important;
}
}

:has(#sidebar-main:not([hidden])) {
#urlbar:not([breakout][breakout-extend], [usertyping]) {
  width: 62px !important;

#identity-box[pageproxystate="invalid"] #identity-icon {
  margin-left: -5px !important;
}

#identity-box {
  margin-right: 16px !important;
  margin-left: 16px !important;
}

#identity-permission-box,
#notification-popup-box,
#tracking-protection-icon-container {
  display: none !important;
}
}
}

:has(#urlbar[breakout][breakout-extend], [usertyping]) {
.titlebar-buttonbox::after {
  width: 62px;
}
}

:has(.titlebar-buttonbox:hover, #urlbar:hover) {
#tabbrowser-tabpanels {
  margin-top: -45.5px;
}
}

@media -moz-pref("sidebar.visibility", "expand-on-hover") {
:has(#back-button:hover, #forward-button:hover, #reload-button:hover, #stop-button:hover, #sidebar-button:hover, #urlbar:not([breakout][breakout-extend], [usertyping]):hover, #urlbar:not([breakout][breakout-extend], [usertyping]) #page-action-buttons > *[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #identity-box > *[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #identity-permission-box[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #notification-popup-box[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #tracking-protection-icon-container[open], #tab-group-name:focus) {
:has(#tabbrowser-tabs:not([expanded])) {
--display: block;
}

#urlbar::before {
  width: 220px;
}

#tabbrowser-tabbox {
  clip-path: inset(-50px 0 0 147px);
  margin-left: -147px !important;
}

#tabbrowser-tabpanels {
  margin-top: -45.5px !important;
@media (-moz-platform: windows) {
  margin-top: -44.5px !important;
}
}

:has(#urlbar[breakout][breakout-extend], [usertyping]) {
.titlebar-buttonbox::after {
  width: 201px;
}
}

#urlbar:not([breakout][breakout-extend], [usertyping]) {
  width: 221px !important;

#identity-box[pageproxystate="invalid"] #identity-icon {
  margin-left: unset !important;
  margin-right: 4px !important;
}

#identity-box {
  margin-right: 28px !important;
  margin-left: 0 !important;
}

#identity-permission-box[open=true],
#identity-permission-box[hasPermissions],
#identity-permission-box[hasSharingIcon],
#notification-popup-box,
#tracking-protection-icon-container {
  display: flex !important;
}
}

#tabbrowser-tabs {
tab-group > .tabbrowser-tab,
&[movingtab][movingtab-addToGroup]:not([movingtab-createGroup],[movingtab-ungroup]) .tabbrowser-tab:is(:active,[multiselected]) {
  margin-inline-start: 0 !important;
}
}

tab-group {
.tab-group-label {
  font-size: 13px !important;
  background-position: left 9px bottom 11px;

#tabbrowser-tabs:not([expanded]) & {
  width: 201px !important;
  padding-left: 33px !important;
  max-width: unset !important;
  font-size-adjust: unset !important;
}

tab-group[collapsed] > .tab-group-label-container > & {
  background-position: left 9px bottom 7.5px;
}
}
}

#tabbrowser-tabs,
#tabs-newtab-button,
#vertical-tabs-newtab-button {
  width: 221px !important;
}

#tabs-newtab-button,
#vertical-tabs-newtab-button {
  margin-left: 9px !important;
}

#tabbrowser-tabs .toolbarbutton-text {
  margin-left: 2px !important;
}

#vertical-pinned-tabs-container {
.tab-icon-overlay {
  margin-left: -15px;
}
}

.tabbrowser-tab[pinned] {
  width: unset !important;
}

.tab-background {
  width: 201px !important;
}

.tab-icon-image, .tab-throbber {
  margin-left: -9px !important;
  margin-right: 7.5px !important;
}

.tab-label-container,
#tabbrowser-tabs .toolbarbutton-text {
  display: block !important;
}

.tab-icon-overlay {
  display: none !important;
}

.tab-audio-button:is([soundplaying], [muted], [activemedia-blocked]) {
  display: block !important;
  background-repeat: no-repeat;
  background-position: center;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: .6;
&[soundplaying] {
  background-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg");
}
&[muted] {
  background-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg");
}
&[activemedia-blocked] {
  background-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-circle-12.svg");
}
}
}

:has(#urlbar:not([breakout][breakout-extend], [usertyping]):hover, #urlbar:not([breakout][breakout-extend], [usertyping]) #page-action-buttons > *:hover) {
#urlbar:not([breakout][breakout-extend], [usertyping]) {
#identity-box {
  margin-right: unset !important;
  margin-left: unset !important;
}
}
}

:has(#tabbrowser-tabs[expanded], #tabbrowser-tabs:not([expanded])) {
#urlbar[breakout][breakout-extend] {
  top: 20vh !important;
  left: 25vw !important;
}

:has(#urlbar[usertyping]) {
#urlbar {
  left: 25vw !important;
}
}
}

:has(#sidebar-box:not([hidden])) {
:has(#back-button:hover, #forward-button:hover, #reload-button:hover, #stop-button:hover, #sidebar-button:hover, #urlbar:not([breakout][breakout-extend], [usertyping]):hover, #urlbar:not([breakout][breakout-extend], [usertyping]) #page-action-buttons > *[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #identity-box > *[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #identity-permission-box[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #notification-popup-box[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #tracking-protection-icon-container[open]) {
#nav-bar {
  padding-left: 71px !important;
}
}
}
}
}

:root:not([chromehidden~="toolbar"], [customizing]):has(#sidebar-main[hidden]) {
.titlebar-buttonbox-container {
  top: 68px;
  left: -258px;
  opacity: 0;
  transition: left .25s !important;
}

.titlebar-close {
  order: -1;
  list-style-image: url("resources/titlebar-backdrop.svg") !important;  
.titlebar-buttonbox:hover & {
  list-style-image: url("resources/titlebar-close-hover.svg") !important;
&:active {
  list-style-image: url("resources/titlebar-close-active.svg") !important;
@media (prefers-color-scheme: dark) {
  list-style-image: url("resources/titlebar-close-active-dark.svg") !important;
}
}
}
}

.titlebar-min {
  list-style-image: url("resources/titlebar-backdrop.svg") !important;  
.titlebar-buttonbox:hover & {
  list-style-image: url("resources/titlebar-min-hover.svg") !important;
&:active {
  list-style-image: url("resources/titlebar-min-active.svg") !important;
@media (prefers-color-scheme: dark) {
  list-style-image: url("resources/titlebar-min-active-dark.svg") !important;
}
}
}
}

.titlebar-max {
  list-style-image: url("resources/titlebar-backdrop.svg") !important;  
.titlebar-buttonbox:hover & {
  list-style-image: url("resources/titlebar-max-hover.svg") !important;
&:active {
  list-style-image: url("resources/titlebar-max-active.svg") !important;
@media (prefers-color-scheme: dark) {
  list-style-image: url("resources/titlebar-max-active-dark.svg") !important;
}
}
}
}

.titlebar-restore {
  list-style-image: url("resources/titlebar-backdrop.svg") !important;  
.titlebar-buttonbox:hover & {
  list-style-image: url("resources/titlebar-restore-hover.svg") !important;
&:active {
  list-style-image: url("resources/titlebar-restore-active.svg") !important;
@media (prefers-color-scheme: dark) {
  list-style-image: url("resources/titlebar-restore-active-dark.svg") !important;
}
}
}
}

@media (-moz-platform: macos) {
.titlebar-buttonbox {
  appearance: none !important;
  &::before {
  content: "";
  position: absolute;
  z-index: -1;
}
}

.titlebar-button {
  display: flex !important;
  padding: 0 !important;
  scale: .75;
}

.titlebar-max, .titlebar-restore {
.titlebar-buttonbox:hover & {
  list-style-image: url("resources/titlebar-max-hover-mac.svg") !important;
&:active {
  list-style-image: url("resources/titlebar-max-active-mac.svg") !important;
@media (prefers-color-scheme: dark) {
  list-style-image: url("resources/titlebar-max-active-dark-mac.svg") !important;
}
}
}
}
}

@media (prefers-color-scheme: dark) {
.titlebar-buttonbox:not(:hover, :active) {
  opacity: .5;
}
}

#nav-bar {
  z-index: 9;
  margin-top: -45.5px !important;  
@media (-moz-platform: windows) {
  margin-top: -44.5px !important;
}
}

#reload-button,
#stop-button,
#back-button,
#forward-button,
#sidebar-button {
  position: fixed !important;
  top: 15px;
  left: -258px;
  opacity: 0;
  transition: left .25s !important;
}

#downloads-button,
#PanelUI-menu-button,
#nav-bar-overflow-button,
#unified-extensions-button {
  position: fixed !important;
  bottom: 16px;
  left: -258px;
  opacity: 0;
  transition: left .25s !important;
}

#downloads-button,
#nav-bar-overflow-button {
  display: flex !important;
}

#tabbrowser-tabs {
  margin-top: 78px !important;
  margin-bottom: 45px !important;

#tabbrowser-tabs {
tab-group > .tabbrowser-tab,
&[movingtab][movingtab-addToGroup]:not([movingtab-createGroup],[movingtab-ungroup]) .tabbrowser-tab:is(:active,[multiselected]) {
  margin-inline-start: 0 !important;
}
}

tab-group {
.tab-group-label {
  font-size: 13px !important;
  background-position: left 9px bottom 11px;

#tabbrowser-tabs:not([expanded]) & {
  width: 201px !important;
  padding-left: 33px !important;
  max-width: unset !important;
  font-size-adjust: unset !important;
}

tab-group[collapsed] > .tab-group-label-container > & {
  background-position: left 9px bottom 7.5px;
}
}
}
}

#tabbrowser-tabs,
#tabs-newtab-button,
#vertical-tabs-newtab-button {
  width: 221px !important;
}

#tabs-newtab-button,
#vertical-tabs-newtab-button {
  margin-left: 9px !important;
}

#tabbrowser-tabs .toolbarbutton-text {
  margin-left: 2px !important;
}

#vertical-pinned-tabs-container,
#pinned-tabs-container[orient="vertical"] {
  margin-left: 5px !important;
  margin-right: 5px !important;

.tab-background {
  width: calc(100% - 10px) !important;
}

.tabbrowser-tab {
  margin-left: -5px !important;
  margin-right: -6px !important;
}

.tab-label-container {
  display: none !important;
}

.tab-content {
  justify-content: center !important;
  margin-left: 7px !important;
}

.tab-icon-overlay {
  margin-left: -15px;
}
}

#vertical-pinned-tabs-splitter,
#vertical-pinned-tabs-container-separator {
  display: none !important;
}

.tabbrowser-tab[pinned] {
  width: unset !important;
}

.tab-background {
  width: 201px !important;
}

.tab-icon-image, .tab-throbber {
  margin-left: -9px !important;
  margin-right: 7.5px !important;
}

.tab-label-container,
#tabbrowser-tabs .toolbarbutton-text {
  display: block !important;
}

.tab-icon-overlay {
  display: none !important;
}

.tab-audio-button:is([soundplaying], [muted], [activemedia-blocked]) {
  display: block !important;
  background-repeat: no-repeat;
  background-position: center;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: .6;
&[soundplaying] {
  background-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg");
}
&[muted] {
  background-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg");
}
&[activemedia-blocked] {
  background-image: url("chrome://browser/skin/tabbrowser/tab-audio-blocked-circle-12.svg");
}
}

.tab-close-button {
  -moz-context-properties: fill, fill-opacity !important;
  margin-inline-end: calc(var(--tab-inline-padding) / -2) !important;
  width: 24px !important;
  height: 24px !important;
  top: 6px !important;
  left: 3px !important;
  box-sizing: border-box !important;
  padding: var(--tab-close-button-padding) !important;
  border-radius: var(--tab-border-radius) !important;
  list-style-image: url(chrome://global/skin/icons/close-12.svg), url(resource://content-accessible/close-12.svg) !important;
  box-shadow: unset !important;
  background-image: linear-gradient(var(--close-button-extra-background)) !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-icon-image {
  opacity: 0;
}

.tabbrowser-tab:not([pinned]):hover .tab-label-container {
  margin-left: 1px;
}

.tabbrowser-tab:not([pinned]):is([soundplaying], [muted], [activemedia-blocked]) .tab-label-container {
  margin-left: 1px;
}

.tabbrowser-tab:hover:not([pinned]):is([soundplaying], [muted], [activemedia-blocked]) .tab-label-container {
  margin-left: 1px;
}

.tabbrowser-tab[pinned] .tab-audio-button {
  display: none !important;
}

.tabbrowser-tab[pinned] .tab-icon-overlay {
  display: flex !important;
}

#urlbar:not([breakout][breakout-extend], [usertyping]) {
  top: 52px !important;
  left: -225px !important;
  opacity: 0;
  transition: left .25s !important;
}

#urlbar::before {
  width: 218px;
}

#toolbar-context-customize-sidebar {
  display: none !important;
}

#sidebar-main {
  height: calc(100% - 16px) !important;
  display: flex !important;
  position: fixed;
  top: -17.5px;
  left: -225px;
  opacity: 0;
  transition: .25s;
  z-index: 9;
  border-radius: 8px !important;
  background-color: var(--bg4);
  backdrop-filter: blur(30px);
  box-shadow: var(--bs1);
  overflow: unset !important;
  transition: .25s;
@media (prefers-color-scheme: dark) {
  box-shadow: var(--bs2) !important;
@media (-moz-platform: macos) {
  outline: 1px solid rgba(235, 235, 235, .2) !important;
  outline-offset: -1px !important;
}   
}
&::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 25px;
  height: 100%;
}
&::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 25px;
  height: 100%;
}
}

#sidebar-box {
  margin-top: 0 !important;
  margin-left: 2px !important;
}

#tabbrowser-tabpanels {
  margin-top: 0;
}

:has(#sidebar-box:not([hidden])) {
#PersonalToolbar {
  margin-left: 282px !important;
  width: calc(100% - 290px);
}
}

:has(#urlbar:hover, .titlebar-buttonbox:hover) {
#tabbrowser-tabpanels {
  margin-top: 0;
}
}

:has(#urlbar[breakout][breakout-extend], [usertyping]) {
.titlebar-buttonbox::after {
  content: none;
}
}

:has(#tabbrowser-tabs:not([expanded])) {
--display: none;
}

:has(#sidebar-main:hover, #urlbar:not([breakout][breakout-extend], [usertyping]):hover, #urlbar:not([breakout][breakout-extend], [usertyping]) #page-action-buttons > *[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #identity-box > *[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #identity-permission-box[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #notification-popup-box[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #tracking-protection-icon-container[open], .tab-throbber[busy], #tab-group-name:focus, .titlebar-buttonbox:hover, toolbarbutton:is(#sidebar-button, #reload-button, #stop-button, #back-button, #forward-button, #PanelUI-menu-button, #nav-bar-overflow-button, #unified-extensions-button, #downloads-button):hover, #PanelUI-menu-button[open], #nav-bar-overflow-button[open], #unified-extensions-button[open], #downloads-button[open]) {
.titlebar-buttonbox-container {
  top: 68px;
  left: 7px;
  opacity: 1;
  transition: left .25s !important;
@media (-moz-platform: windows) {
  left: 18px;
}
}

#reload-button,
#stop-button,
#back-button,
#forward-button,
#sidebar-button {
  left: 80px;
  opacity: 1;
  transition: left .25s !important;
}

#back-button {
  left: 119px;
}

#forward-button {
  left: 153px;
}

#reload-button,
#stop-button {
  left: 187px;
}

#downloads-button,
#PanelUI-menu-button,
#nav-bar-overflow-button,
#unified-extensions-button {
  left: 20px;
  opacity: 1;
  transition: left .25s !important;
}

#nav-bar-overflow-button {
  left: 72px;
}

#unified-extensions-button {
  left: 123px;
}

#downloads-button {
  left: 175px;
}

#sidebar-main {
  left: 8px;
  opacity: 1;
  transition: .25s;
}

#urlbar:not([breakout][breakout-extend], [usertyping]) {
  left: 18px !important;
  opacity: 1;
  transition: left .25s !important;
}
}
}

:root[inFullscreen]:has(#tabbrowser-tabs:not([expanded])) {
:has(#sidebar-box:not([hidden])) {
#sidebar-button {
  margin-left: -335px !important;
  margin-right: 300px !important;
}  
}
}

:root[inFullscreen]:has(#tabbrowser-tabs:not([expanded])) {
:has(#sidebar-box[sidebarcommand="viewGenaiChatSidebar"]:not([hidden])) {
#sidebar-button {
  margin-left: -455px !important;
  margin-right: 420px !important;
}  
}
}

:root[inFullscreen] {
.browser-toolbox-background {
  background: transparent !important;
}

#urlbar {
  left: 10px !important;
}

#sidebar-button {
  margin-left: -62px !important;
  margin-right: 62px !important;
}

:has(#urlbar[breakout][breakout-extend], [usertyping]) {
#back-button::before {
  content: "";
  position: fixed;
  top: 45px;
  left: 10px;
  width: 201px;
  height: 32px;
  border-radius: 8px;
  background: var(--button-active-bgcolor);
}
}

:has(#tabbrowser-tabs:not([expanded])) {
:has(#urlbar[breakout][breakout-extend], [usertyping]) {
#back-button::before {
  width: 62px;
}
}

#sidebar-button {
  margin-left: -52px !important;
  margin-right: 22px !important;
}
}

:has(#sidebar-main[hidden]) {
#nav-bar {
  padding-left: 55px !important;
}
}

@media -moz-pref("sidebar.visibility", "expand-on-hover") {
:has(#back-button:hover, #forward-button:hover, #reload-button:hover, #stop-button:hover, #sidebar-button:hover, #urlbar:not([breakout][breakout-extend], [usertyping]):hover, #urlbar:not([breakout][breakout-extend], [usertyping]) #page-action-buttons > *[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #identity-box > *[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #identity-permission-box[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #notification-popup-box[open], #urlbar:not([breakout][breakout-extend], [usertyping]) #tracking-protection-icon-container[open]) {
:has(#urlbar[breakout][breakout-extend], [usertyping]) {
#back-button::before {
  width: 201px;
}
}
}
}
}

:root:not([sizemode="maximized"], [sizemode="fullscreen"]):has(#sidebar-main[hidden]) .titlebar-restore, 
:root:is([sizemode="maximized"], [sizemode="fullscreen"]):has(#sidebar-main[hidden]) .titlebar-max {
  display: none !important;
}

:root[customizing] {
#urlbar {
  visibility: hidden;
}
}
}
